/* Add screen styles below */

body {
    background: rgb(254, 246, 246);
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:rgb(24, 17, 19);
    margin-left: 25px;
}

main {
    margin: 0 auto;
    float: left;
}

div {
    display: flex;
    justify-content: space-evenly;
    border-radius: 10px;
}

img {
    padding: 5px;
    height: 200px;
    border-collapse: separate;
    border-radius: 20px;
}

h1 {
    background-image: url('images/logo.png');
    background-repeat: no-repeat;
    background-size: 60px;
    text-align: center left;
    font-size: 4em;
    padding-left: 50px;
}